@import "tailwindcss";

@theme {
  --color-primary-light: #3b82f6;
  --color-primary: #1e40af;
  --color-primary-dark: #1e3a8a;

  --color-accent-light: #f0f9ff;
  --color-accent: #0ea5e9;

  --font-serif: "Playfair Display", serif;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}